go 1.24.3

use (
    .
    ./common
    ./analytics-service
    ./merchant-service
    ./order-service
    ./payment-service
    ./auth-service
    ./domain-service
    ./gateway-service
    ./page-builder-service
    ./product-service
    ./user-service
)